
<% @groups.each do | group|  %>
    <%= link_to group_path(id: group), class:'category-link'  do%>
    <div class="category-container">
        <div class="user-icon">
        <%= image_tag(group.icon, class: "icon", alt: "#{group.name}") %>
        </div>
        <div class="cat-name">
        <%= group.name %>
        </div>
    </div>
    <div>
      <span class="cat-amount">$<%= group.total_amount %></span>
    </div>
  <% end %>
<% end %>