<nav class="navbar">
      <ul class="nav-bar bg-gray-700">
        <li class="nav-item">
          <%= link_to "Login" ,user_session_path, class: "login-link"%>
        </li>
        <span class="line">|</span>
         <li class="nav-item">
          <%= link_to "Sign up",new_user_registration_path, class: "login-link" %>
        </li>
      </ul>
</nav>