<nav class="navbar">
      <ul class="nav-bar">
        <li class="nav-item">
          <%= link_to "Login" ,user_session_path, class: " login-link"%>
        </li>
         <li class="nav-item">
          <%= link_to "Sign up",new_user_registration_path, class: " login-link-2 " %>
        </li>
      </ul>
</nav>